<template name="home">
	<div id="carousel" class="carousel slide">
		<div class="carousel-inner">
			{{# each items }}
				<div class="item {{# if isCero index }}active{{/ if }}">
					<div class="imagensita" style="background-image: url({{ image.url }})"></div>
					<div class="descripcionsita">{{ description }}</div>
				</div>
			{{/ each }}
		</div>
		<ul class="indicators">
			{{# each items }}
				<li data-target="#carousel" data-slide-to="{{ index }}" class="{{# if isCero index }}active{{/ if }}" style="background-image: url({{ thumb.url }})">
				</li>
			{{/ each }}
		</ul>
	</div>
</template>

<template name="loading">
	
</template>