<template name="layout">
	<div class="headersito">
		<div class="tabs hidden-xs">
			<a class="{{ isActiveRoute regex='pinturas' }}" href="{{ pathFor 'pinturas' }}">Pinturas y Dibujos</a> - <a class="{{ isActiveRoute regex='ilustraciones' }}" href="{{ pathFor 'ilustraciones' }}">Ilustraciones</a>
		</div>
		<h1>
			Francisca Infante
		</h1>

		<div class="tabs-xs visible-xs">
			<a class="{{ isActiveRoute regex='pinturas' }}" href="{{ pathFor 'pinturas' }}">Pinturas y Dibujos</a>
			<a class="{{ isActiveRoute regex='ilustraciones' }}" href="{{ pathFor 'ilustraciones' }}">Ilustraciones</a>
		</div>

		<div class="lineadecosita"></div>
	</div>
	{{> yield }}
</template>

<template name="home">
	<div id="carousel" class="carousel slide">
		<div class="carousel-inner">
			{{# each items }}
				<div class="item {{# if isCero index }}active{{/ if }}">
					<div class="imagensita" style="background-image: url({{ image.url }})"></div>
					<div class="descripcionsita">{{ description }}</div>
				</div>
			{{/ each }}
		</div>
		<ul class="indicators">
			{{# each items }}
				<li data-target="#carousel" data-slide-to="{{ index }}" class="{{# if isCero index }}active{{/ if }}" style="background-image: url({{ thumb.url }})">
				</li>
			{{/ each }}
		</ul>
	</div>
	<div class="iconitos">
		<a href="mailto:{{ dict 'social.email' }}">
			<i class="fa fa-fw fa-envelope"></i>
		</a>
		<a href="http://instagram.com/{{ dict 'social.instagram' }}">
			<i class="fa fa-fw fa-instagram"></i>
		</a>
	</div>
</template>

<template name="loading">
	
</template>